
.input > label > input {
    margin: 0 auto;
    width: 50%;
}

input[type=range] {
    height: 26px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;

    box-shadow: 1px 1px 1px #000000;
    background: #8ea581;
    border-radius: 14px;
    border: 0px solid #b3c4c5;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #501a74;
    border: 0px solid #12a761b4;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #176b9c;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #9c8024;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
   
    box-shadow: 1px 1px 1px #000000;
    background: #168f89;
    border-radius: 14px;
    border: 0px solid #c3d3cc;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #11d6dd;
    border: 0px solid #480bb9;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #425006;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
  
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #17619e;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #90bb90;
  }
  input[type=range]::-ms-fill-upper {
    background: #274086;
    border: 0px solid #14c8e0;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #1f0855;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #6b5aa8;
    border: 0px solid #b11b1b;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #a82909;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #106a9e;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #0c4f64;
  }
  