.header{
    background-color: #09b38e;
    width: 100%;
    text-align: left;
    color: #2dac1d;
}
.header > span , h1{
    display: inline-block;
    margin-left: 5%
}
meter{

    width: 40%;
    margin: 0 auto;

}
#ctDispositivo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%
}
.titleDevice{
    font-size: 132%;
}
#icon2{
    font-size: 400%;
    color: #1594aa;

}
