.menu > nav{
    background-color: #18ce46;
   
}
.menu > nav > table {
    margin: 0 auto; 
    color: #25aa42;
}

a {
    text-decoration-line: none;
    color: rgb(40, 143, 161);
    color: #3ce036;
}
mi-footer {
    background-color: rgb(77, 20, 20);
    color: rgb(22, 175, 48);
}
